root { 
    display: block;
}

.gocenter {
    text-align: center;
}

#wrapper {
    float: left;
    margin: 0 auto;
    width: 960px;
    /*height: 200px;*/
    /*background-color: #ffcccc;*/
}

#underwrapper {
    display: none;
    width: 760px;
    height: 500px;
    background-color: #ff0000;
}

#leftgroup {
    float: left;
    margin: 0 auto;
    width: 685px;
    /*background-color: #ffcccc;*/
}

#rightgroup {
    float: left;
    margin: 0 auto;
    width: 270px;
    height: 450px;
    background-color: #dddddd;
}

.readline {
    display: block;
    float: left;
    width: 100%;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    background: #efefef;
}

#listingcont {
    display: block;
    float: left;
    width: 100%;
    height: 409px;
    overflow:auto;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
    background: #dedede;
}

#holder, #holderforfilelist, #holdetforparsedentries {
    display: none;
}

#dialog {
    display: block;
    float: left;
    width: 700px;
    height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    border-bottom:1px solid #cccccc;
    background: #dedede;
}

#dialogright {
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    color: #000000;
    background: #dedede;
}

#spacer {
    display: block;
    float:left;
    width: 685px;
    height: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background: #eeeeee;
}

#labelfl1, #labelfr1, #labelbl1, #labelbr1 {
    display: block;
    float:left;
    width: 62px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background-color: #eeeeee;
}
#sliderpack {
    width: 685px;
    height: 25px;
}

#labelfl2, #labelfr2, #labelbl2, #labelbr2 {
    display: block;
    float:left;
    width: 62px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#slidercont {
    display: block;
    float:left;
    width: 610px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    /*background: #ff0000;*/
}

.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    color: #ff0000;
}

#controls {
    display: block;
    float: left;
    width: 685px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
    background: #eeeeee;
}

#textboxs {
    display: block;
    float: left;
    width: 800px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
}

#textboxfile {
    display: block;
    float: left;
    width: 250px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
}

#textboxspeed {
    display: block;
    float: left;
    width: 130px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
}

.speed {
    width: 30px;
}

#speedslider {
    display: block;
    float:left;
    width: 285px;
    height: 10px;
    margin: 5px 0px 0px 5px;
    padding: 0;
}

#botleft {
    display: block;
    float: left;
    width: 685px;
    height: 140px;
    overflow:auto;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: sans-serif;
    word-wrap: normal;
    color: #000000;
    background: #dedede;
}

#butsave, #butreset, #butlist, #butopen, #butempty, #butloopstart, #butloopstop {
    display: block;
    float: left;
    width: 50px;
    height: 22px;
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    background: #eeeeee;
    border:1px solid #cccccc;
}

.filelisting {
    width: 100%;
    margin: 1px;
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    background: #eeeeee;
}